body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  flex-direction: column; /* Stack vertically */
  align-items: center; /* Center content horizontally */
  text-align: center; /* Center text horizontally */
}

.profile-section {
  padding: 10px;
  /* Add any other styling you need for the profile section */
}

.map-section {
  margin-top: 10px; /* Add margin to separate the map from the profile */
  /* Add any other styling you need for the map section */
}